.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
    .login {
    display: block;
    font-weight: bold;
    margin-left: 90px;
    //margin-right: auto;
    width: 50%;
    }
    ion-card{
        margin:20px 20px;

        img{
            border-radius: 50%;
        }
        --ion-background-color:#FCF3CF;
        border-radius: 15px;
        h2{
            position:10px 20px;
            color:#212F3D;
            margin-top: 10px;
            margin-right:50px;
            background-color: #F1948A ;
        }
    }
    
    ion-content{
        --ion-background-color:#1B4F72;
    }