<ion-header>
  <ion-toolbar  color="danger">
    <ion-title class="ion-text-center">
      Data
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-list class="ios list-ios hydrated">
   <h2 class="ion-text-center">Students Info</h2>

    <ion-item *ngFor="let student of Studentss"   class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> {{student.name}}
        </h5>
        <p>
          <ion-icon name="call"></ion-icon> {{student.mobile}}
        </p>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/view-student/', student.$key]">
          <ion-icon name="eye" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear [routerLink]="['/edit-student/', student.$key]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteStudent(student.$key)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>

</ion-card>

</ion-content>
