ion-card{
    --ion-background-color:#FCF3CF;
    border-radius: 15px;
    h2{
        position:10px 20px;
        color:#212F3D;
        background-color: #F1948A ;
    }
}

ion-content{
    --ion-background-color:#1B4F72;
}